<div class="notification new-user-notification {% if(receivedNotification.isWatched) %}disabled{% endif %}">
    <div>
        <p class="notification__label">{{ receivedNotification.notification.label }}</p>
        <a href="{{ path('app_user_show', {'id': receivedNotification.notification.newUser.id}) }}">Ir a {{ receivedNotification.notification.newUser.name }} {{ receivedNotification.notification.newUser.firstname }}</a>
    </div>
    <div class="profile-img ms-2" style="background-image: url({{ asset('resources/media/admin/profiles/'~receivedNotification.notification.newUser.image) }});"></div>
</div>