{% extends 'admin_panel/user/base.html.twig' %}

{% block javascriptInLine %}
    <link rel="stylesheet" type="text/css" href="{{ asset('libraries/DataTables/datatables.min.css') }}"/>
    <script type="text/javascript" src="{{ asset('libraries/DataTables/datatables.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('libraries/DataTables/Responsive/css/responsive.bootstrap5.css') }}"/>
    <script type="text/javascript" src="{{ asset('libraries/DataTables/Responsive/js/responsive.bootstrap5.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', e => {
            const spanish = "{{ asset('libraries/Datatables/Translations/spanish.json') }}";

            $('#user-index').DataTable({
                responsive: true,
                columnDefs: [
                    { orderable: false, targets: [0, 4, 5, 6] }
                ],
                order: [[2, 'desc']],
                language: {
                    url: spanish,
                }
            });
        });
    </script>
{% endblock %}

{% block section %}
    <div class="container-fluid px-2 px-sm-3 px-lg-4 px-xl-5">
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-12 col-md-5 col-lg-3 mt-5 mt-md-0">
                <div class="section-box">
                    <div class="section-box__body py-3">
                        <p class="h5 py-2 section-box__title"><i class="fas fa-search"></i>&nbsp Búsqueda</p>
                        {% include "admin_panel/user/_search_form.html.twig" with form %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-7 col-lg-9">
                <div class="section-box">
                    <div class="section-box__body py-3">
                        <p class="h5 py-2 section-box__title"><i class="fas fa-clipboard-list"></i>&nbsp Listado de usuarios</p>

                        <table id="user-index" class="table crud-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-start">Usuario</th>
                                    {# <th>Roles</th> #}
                                    <th>Fecha de registro</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr class="crud-table__record {% if(not user.isActive) %}blocked{% endif %}">
                                    <td>
                                        <a href="{{ path('app_user_show', {'id': user.id}) }}">
                                            {% set userImg = (user.image) ? user.image : "user.jpg" %}
                                            <div class="profile-img" style="background-image: url({{ asset('resources/media/admin/profiles/' ~ userImg ) }});"></div>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="text-start">
                                            {{ user.name }} {{ user.firstname }} {{ user.lastname }}
                                        </div>
                                        <div class="text-start" style="color: #8b8b8b;" >
                                            {{ user.email }}
                                        </div>
                                    </td>
                                    {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                                    <td>{{ user.creationDate ? user.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                                    <td class="crud-table__state">{{ user.isActive ? '<div class="isActive-true">Activo</div>' : '<div class="isActive-false">Bloqueado</div>' }}</td>
                                    <td class="crud-table__tool"><a href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fas fa-edit text-warning fa-lg"></i></a></td>
                                    <td class="crud-table__tool">{% include "admin_panel/user/_block_form.html.twig" %}</td>
                                    <td class="crud-table__tool">{% include "admin_panel/user/_delete_form.html.twig" %}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('app_user_new') }}"><i class="fas fa-plus"></i>&nbsp Crear usuario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
