<nav class="navbar navbar-expand-lg text-center toolbar">
    <!-- Container wrapper -->
    <div class="container-fluid px-2 px-sm-3 px-lg-4 px-xl-5">

      <div type="button" class="sidenav-trigger menu-button d-flex align-items-center" data-target="#menu-sidenav"><i class="fa fa-thin fa-bars fa-lg"></i></div>
  
      {# {% for item in knp_menu_get('main').children %}
              {% if (not app.request.attributes.get('_route_params')) and (path(app.request.attributes.get('_route')) == item.uri) %}
                  <div class="menu__item p-3 current">
                      <i class="{{ item.getExtra('icon') }}"></i>
                      <span class="mx-2">{{ item.name }}</span>
                  </div>
              {% else %}
                  <a href="{{ item.uri }}">
                      <div class="menu__item p-3">
                          <i class="{{ item.getExtra('icon') }}"></i>
                          <span class="mx-2">{{ item.name }}</span>
                      </div>
                  </a>
              {% endif %}
      {% endfor %} #}



      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="far fa-envelope fa-lg"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
  
        <!-- Notifications -->
        <div class="dropdown">
          <a
            id="toolbar__notifications-icon"
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="far fa-bell fa-lg"></i>
            {# {% if (app.user.notifications | filter(notification => not notification.isViewed) | length) > 0 %}
              <span id="toolbar__notifications-warning" class="badge rounded-pill badge-notification bg-danger">
                {{ app.user.notifications | filter(notification => not notification.isViewed) | length }}
              </span>
            {% endif %} #}
          </a>
          <div
            id="toolbar__notifications-list"
            class="dropdown-menu dropdown-menu-end toolbar__notifications-list"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ render(path('app_notification_component')) }}
          </div>
        </div>
        
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="profile-img" style="background-image: url('{{ asset('resources/media/admin/profiles/'~app.user.image) }}');"></div>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <div type="button" class="sidenav-trigger dropdown-item" data-target="#profile-bar" href="#" async data-async-path="{{ path('app_profile_edit', {'id': app.user.id}) }}" data-async-target="#profile-sidenav-body">My profile</div>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>